@model Review
@{
    ViewData["Title"] = "NewReview";
}

<h2>New Book Review</h2>

<section class="centeredPanel">
    <form asp-controller="Home" asp-action="NewReview" method="post">
        <div>
            <label asp-for="UserName"></label>
            <input type="text" asp-for="UserName" />
        </div>
        <div style="margin-left:3px;">
            <label asp-for="Rating"></label>
            <input type="number" asp-for="Rating" />
        </div>
        <div style="margin-left:18px;">
            <label asp-for="ReviewTitle"></label>
            <input type="text" asp-for="ReviewTitle" />
        </div>
        <div style="margin-left:62px;">
            <label asp-for="ReviewText"></label>
            <input type="text" asp-for="ReviewText" />
        </div>



        <input type="submit" value="Submit" />
    </form>
</section>
<style>
    #calculatorResult div {
        display: inline-block;
        width: 40%;
    }
</style>
